a {
    color: black;
}
.navbar a {
    font-size: 25px;
}

.contact {
    margin: 50px;
}
.row {
    margin: 20px;
}


.bg-light {
    background-color: rgba(128, 30, 0, 0.589) !important;
}

.card-header {
    font-size: 30px;
}
body{
 background-image: url("portfolio_pictures/background.jpg");
 background-size: cover;
}
#contact-info, #resume {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    background: rgba(90, 28, 90, 0.349);
}

#resume{
    width: 30%;
    
}

#contact-list{
font-size: 18px;
}

.contact-row{
    display: flex;
    justify-content: center;
    align-items: center;
}