a {
    color: black;
}
.navbar a {
    font-size: 25px;
}

.navbar {
 background: rgba(128, 128, 0, 0.521);
}
.contact {
    margin: 50px;
}
.row {
    margin: 20px;
}

.card-header {
    font-size: 30px;
}
body{
 background-image: url(https://image.shutterstock.com/image-illustration/abstract-zebra-earth-tone-striped-260nw-1220060509.jpg);
 background-size: cover;
}

/* @media screen and (max-width: 770px) {

} */