#project-card{
  width: 450px;
  /* margin-top: 100px; */
}
img {
  margin: auto;
  border: 2px solid rgb(160, 160, 160);
}
#card-column{
  margin-top: 20px;
}
.card-body, h5 {
  font-family: 'Cormorant Garamond', serif;
}
h5 {
  line-height: 25px;
  font-size: 22px;
}
h3, h5 {
  color: #090541;
  font-family: 'PT Sans', sans-serif;
}
  