#project-card{
  width: 350px;
}
/* test */
img {
  margin: auto;
  border: 2px solid rgb(160, 160, 160);
}
#card-column{
  margin-top: 20px;
}
h5 {
  line-height: 20px;
  font-size: 18px;
  color: #090541;
  font-family: 'Quicksand', sans-serif;
}
h3 {
  color: #000000;
  font-family: 'Quicksand', sans-serif;
}
.card-text {
  font-size: 20px;
}
  