#nav-bar-portfolio{
    height: 75px;
    background: rgb(75, 87, 124);
    /* background-image: url("../../images/lined-paper.png"); */
}
a {
    font-size: 25px;
    color: rgb(246, 242, 242) !important;

}