.section-heading{
    /* background-image: url("../../images/feathers.png"); */
    background-image: url("../../images/lined-paper.png");
    background-color: rgb(191, 230, 230);
    color: rgb(9, 5, 65);
    font-family: 'Reem Kufi', sans-serif;
}