.section-heading{
    /* background-image: url("../../images/feathers.png"); */
    background-image: url("../../images/lined-paper.png");
    background-color: #c1e7e7;
    color: #090541;
    font-family: 'Reem Kufi', sans-serif;
    height: 100px;
    display: flex;
    align-items: center;
}
.display-4 {
    display: flex;
    justify-content: center;
}