.section-heading{
    /* background-image: url("../../images/feathers.png"); */
    background-image: url("../../images/lined-paper.png");
    background-color: rgb(191, 230, 230);
    border: 2px solid rgb(9, 5, 65);
    color: rgb(9, 5, 65);
    margin-top: 20px;
}