p {
    line-height: 30px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}
#contact-bar-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn {
    margin: 0 40px;
    width: 200px;
}
#about-me-container{
    width: 100%;
    margin: auto auto 20px auto;
    display: flex;
}
img {
    width: 330px;
    height: 330px;
    margin-right: 50px;
}
#img-col {
    width: 30%;
    display: flex;
    justify-content: center;
}
#paragraph-col {
    width: 70%;
    padding: 0 20px;
}
#about-me-row{
    display: flex;
    flex-wrap: nowrap;
}
